.nav-icon{
    width: 73px;
    height: 73px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: auto;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
body{
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
}


.nav-items{
    text-decoration:none ;
    color: black;
    font: 17px;
    font-weight: 600;
    
}
